*~
*.bak
.bundle
.config
coverage
doc/
.DS_Store
*.gem
.idea
InstalledFiles
lib/bundler/man
nbproject
pkg
*.rbc
rdoc
spec/reports
*.sw?
test/tmp
test/version_tmp
tmp
_yardoc
.yardoc
/.buildpath
/.project
